$header-height: 80px;
$breadcrumb-height: 40px;
$left-menu: 230px;
$content-background-color: #f0f3f6;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.container,
.container-no-bg {
  margin: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  min-height: calc(100vh - 200px);
}

.container-no-bg {
  background-color: $content-background-color;
}

.tool-bar {
  padding: 20px;

  >.el-select {
    padding: 0 10px;
  }

  >.el-select:first-child {
    padding: 0;
  }
}

.tool-bar-button-group {
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
}

.page-content {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.el-card {
  width: 100%;
}

.el-card__header {
  text-align: left;
}

.table-header-class {
  text-align: center;
}

.el-table th {
  background-color: #f5f7fa;
}

// .tck {
//   text-align: center
// }
.el-menu--collapse {
  li[role="menuitem"] {
    >div {
      text-align: center;
    }
  }
}

.el-menu {
  li[role="menuitem"] {
    i {
      margin-right: 0.3em
    }
  }
}

.el-menu--collapse {
  li[role="menuitem"] {
    i {
      margin-right: 0;
    }
  }
}
.el-submenu,.el-menu-item {
  text-align: left
}

.el-pagination {
  float: right;
  margin-top: 8px;
  color: #909399;
}

.ant-pagination {
  float: right;
  margin-top: 8px !important;
  color: #909399 !important;
}

a {
  color: inherit !important;
}